.buttonContainerr {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 999;
  .buttonExt {
    @include center;
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(44, 131, 189);
    transition: all 0.3s;
    background-color: rgb(44, 131, 189);
    .icono {
      height: 3rem;
      transition: all 0.3s;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }

    &.open {
      border-color: $magentaClaro;
      background-color: $grisClaro;
    }
    &.open:hover {
      background-color: rgb(192, 192, 192);
    }
  }
  .buttonExt:hover {
    background-color: $magentaClaro;
  }

  .menu {
    position: absolute;
    transform: translateY(-125%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;

    .circle {
      width: 3rem;
      height: 3rem;
      filter: invert(100%);
      opacity: 0.7;
      border-radius: 50%;
      margin-bottom: 1.5rem;
      transition: all 0.3s;
      .icono {
        height: 3.5rem;
      }
    }
    .circle:hover {
      opacity: 1;
    }
  }

  &.open {
    .menu {
      transform: translateY(0%);
    }
  }
}

@media only screen and (max-width: 700px) {
  .buttonContainerr {
    .buttonExt {
      height: 3rem;
      width: 3rem;
      .icono {
        height: 3rem;
      }
    }
    .menu {
      .circle {
        height: 2.5rem;
        opacity: 0.9;
        .icono {
          height: 3rem;
        }
      }
    }
  }
}
