.footerContainerPC {
  // background-color: rgb(150, 150, 150);
  color: white;
  padding: 3% 0;
  p {
    @include centerCol;
    text-align: center;
    margin-bottom: 0;
  }
  .p1 {
    font-size: 1.5vw;
  }
  .p2 {
    font-size: 1vw;
  }
  .p3 {
    font-size: 0.8vw;
  }
}

.footerContainerMobile {
  // background-color: rgb(150, 150, 150);
  color: rgb(0, 0, 0);
  padding: 5% 0;
  p {
    @include centerCol;
    text-align: center;
    margin-bottom: 0;
  }
  .p1 {
    font-size: $descrSizeResp;
  }
  .p2 {
    font-size: 3vw;
  }
  .p3 {
    font-size: 3vw;
  }
}
