.homeContainer {
  // @include titulos;
  // background-color: black;
  // background: rgb(19, 30, 122);
  background-color: rgb(31, 92, 132);
  // background: linear-gradient(
  //   270deg,
  //   rgba(19, 30, 122, 1) 10%,
  //   rgba(99, 140, 188, 1) 73%,
  //   rgba(223, 233, 254, 1) 100%
  // );
  background: rgb(30, 105, 193);
  background: rgb(30, 105, 193);
  background: linear-gradient(
    270deg,
    rgb(31, 92, 132) 0%,
    rgba(99, 140, 188, 1) 67%,
    rgba(223, 233, 254, 1) 100%
  );
  .home-subContainer {
    flex-direction: column;
  }
}
