.homeContainerPC {
  background-color: rgb(31, 92, 132);
  background: rgb(30, 105, 193);
  background: rgb(30, 105, 193);
  background: linear-gradient(
    270deg,
    rgb(31, 92, 132) 0%,
    rgba(99, 140, 188, 1) 67%,
    rgba(223, 233, 254, 1) 100%
  );
}
.homeContainerMobile {
  background-color: rgb(31, 92, 132);
  background: rgb(30, 105, 193);
  background: linear-gradient(
    180deg,
    rgba(30, 105, 193, 1) 0%,
    rgba(99, 140, 188, 1) 67%,
    rgba(223, 233, 254, 1) 100%
  );
  overflow-x: hidden;
}
