.nosotrosContainer {
  height: auto;
  color: black;
  background-color: gradient;
  .inicio {
    height: auto;
    padding-top: 5rem;
    background-color: black;
    position: relative;
    background-size: cover;
    color: white;
    @include center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 0px 0.8rem 0px rgb(44, 131, 189);
    border-radius: 0 0 4rem 4rem;
    -webkit-border-radius: 0 0 4rem 4rem;
    -moz-border-radius: 0 0 4rem 4rem;
    -ms-border-radius: 0 0 4rem 4rem;
    -o-border-radius: 0 0 4rem 4rem;
    .textoInicio {
      width: 50vw;
      padding: 0 0 5% 5%;
      .hola {
        // font-size: 3rem;
        font-size: 3vw;
        line-height: 1;
        margin-bottom: -0.5%;
      }
      .titulo-inicio {
        // font-size: 5rem;
        font-size: 5vw;
        line-height: 1;
        color: rgb(44, 131, 189);
      }
      .descr-inicio {
        padding: 1.5% 0 4% 0;
        // font-size: 1.2rem;
        font-size: $descrSize;
        font-weight: 100;
        line-height: $descrLineHeight;
      }
      .button-inicio {
        @include botones;
        transition: all 0.3s;
        font-weight: $light;
        background-color: rgb(44, 131, 189);
        color: black;
        font-weight: 500;
        // font-size: 1.2rem;
        font-size: $descrSize;
        &.cv {
          margin-left: 2vw;
        }
      }
      .button-inicio:hover {
        background-color: #1060eb;
      }
    }
    .fotoContainer {
      display: flex;
      justify-content: center;
      align-items: end;
      height: 100%;
      width: auto;
      padding-right: 6%;

      .camisa {
        height: auto;
        width: 35vw;
      }
    }
  }

  .sobremi {
    // background-color: rgba(26, 26, 26, 1);
    // background-color: $gris;
    background-color: transparent;
    height: auto;

    position: relative;
    display: flex;
    flex-direction: row-reverse;
    .splineContainer {
      position: absolute;
      width: 100%;
      top: -7%;
      right: 24.5%;
    }
    .textSobremi {
      width: 50vw;
      @include centerCol;
      align-items: start;
      padding: 5%;
      padding-left: 2%;
      .titulo-sobremi {
        color: rgb(44, 131, 189);
        margin-bottom: 5%;
        font-size: 3vw;
      }
      .descr-sobremi {
        // font-size: 1.2rem;
        font-size: $descrSize;
        font-weight: 100;
        line-height: $descrLineHeight;
        color: white;
      }
    }
  }

  .tecnologias {
    //background-color: #0e1015;
    height: auto;
    padding: 5% 20%;
    @include centerCol;
    box-shadow: 0px 0px 0.8rem 0px rgb(44, 131, 189);
    border-radius: 4rem 4rem 4rem 4rem;
    -webkit-border-radius: 4rem 4rem 4rem 4rem;
    -moz-border-radius: 4rem 4rem 4rem 4rem;
    -ms-border-radius: 4rem 4rem 4rem 4rem;
    -o-border-radius: 4rem 4rem 4rem 4rem;
    .titulo-tecno {
      color: rgb(44, 131, 189);
      font-size: 3vw;
    }
    .cardsTecno {
      padding: 5%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .cardTecno {
        @include centerCol;
        justify-content: space-between;
        // box-shadow: 0px 0px 0.8rem 0px rgb(44, 131, 189);
        // box-shadow: 0px 0px 0.8rem 0px rgb(0, 0, 0);
        // border: 1px solid rgb(44, 131, 189);
        width: 10rem;
        height: 13rem;
        margin: 1rem;
        padding: 2rem 0;
        background-color: #101725;
        // background-color: black;
        color: white;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        .logoTecno {
          width: 6rem;
          height: 6rem;
        }
        .html {
          width: 6rem;
          height: 6rem;
        }
        .css {
          width: 7.5rem;
          height: 7.5rem;
          margin-top: -8%;
        }

        .js {
          width: 7rem;
          height: 7rem;
          margin-top: -8%;
        }
        .scss {
          width: 6.5rem;
          height: 6.5rem;
          margin-top: -5%;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
        .react {
          width: 7rem;
          height: 6rem;
        }
        p {
          font-size: 1.5vw;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }
}

///// Responsive /////

// Monitores chicos
@media only screen and (max-width: 1500px) {
  .nosotrosContainer {
    .inicio {
      border-radius: 0 0 3rem 3rem;
      -webkit-border-radius: 0 0 3rem 3rem;
      -moz-border-radius: 0 0 3rem 3rem;
      -ms-border-radius: 0 0 3rem 3rem;
      -o-border-radius: 0 0 3rem 3rem;
      /* .titulo-inicio {
        padding: 8% 0 0 4%;
      } */
      /* .descr-inicio {
        font-weight: normal;
      } */
    }
    .beneficios {
      .box1 {
        border-radius: 0 3rem 0 3rem;
        -webkit-border-radius: 0 3rem 0 3rem;
        -moz-border-radius: 0 3rem 0 3rem;
        -ms-border-radius: 0 3rem 0 3rem;
        -o-border-radius: 0 3rem 0 3rem;
      }
      .box2 {
        border-radius: 3rem 0 3rem 3rem;
        -webkit-border-radius: 3rem 0 3rem 3rem;
        -moz-border-radius: 3rem 0 3rem 3rem;
        -ms-border-radius: 3rem 0 3rem 3rem;
        -o-border-radius: 3rem 0 3rem 3rem;
        .descr-beneficios {
          font-weight: normal;
        }
      }
      .box3 {
        border-radius: 0 3rem 0 0;
        -webkit-border-radius: 0 3rem 0 0;
        -moz-border-radius: 0 3rem 0 0;
        -ms-border-radius: 0 3rem 0 0;
        -o-border-radius: 0 3rem 0 0;
      }
    }
    .info {
      border-radius: 0 3rem 3rem 3rem;
      -webkit-border-radius: 0 3rem 3rem 3rem;
      -moz-border-radius: 0 3rem 3rem 3rem;
      -ms-border-radius: 0 3rem 3rem 3rem;
      -o-border-radius: 0 3rem 3rem 3rem;
    }
  }
}

// Celulares horizontal y tablets
@media only screen and (min-width: 700px) and (max-width: 991px) {
  .nosotrosContainer {
    .inicio {
      border-radius: 0 0 2.5rem 2.5rem;
      -webkit-border-radius: 0 0 2.5rem 2.5rem;
      -moz-border-radius: 0 0 2.5rem 2.5rem;
      -ms-border-radius: 0 0 2.5rem 2.5rem;
      -o-border-radius: 0 0 2.5rem 2.5rem;
      .titulo-inicio {
        // padding: 8% 0 0 4%;
      }
      .descr-inicio {
        font-weight: normal;
      }
    }
    .beneficios {
      .box1 {
        border-radius: 0 2.5rem 0 2.5rem;
        -webkit-border-radius: 0 2.5rem 0 2.5rem;
        -moz-border-radius: 0 2.5rem 0 2.5rem;
        -ms-border-radius: 0 2.5rem 0 2.5rem;
        -o-border-radius: 0 2.5rem 0 2.5rem;
      }
      .box2 {
        border-radius: 2.5rem 0 2.5rem 2.5rem;
        -webkit-border-radius: 2.5rem 0 2.5rem 2.5rem;
        -moz-border-radius: 2.5rem 0 2.5rem 2.5rem;
        -ms-border-radius: 2.5rem 0 2.5rem 2.5rem;
        -o-border-radius: 2.5rem 0 2.5rem 2.5rem;
        .descr-beneficios {
          font-weight: normal;
        }
      }
      .box3 {
        border-radius: 0 2.5rem 0 0;
        -webkit-border-radius: 0 2.5rem 0 0;
        -moz-border-radius: 0 2.5rem 0 0;
        -ms-border-radius: 0 2.5rem 0 0;
        -o-border-radius: 0 2.5rem 0 0;
      }
    }
    .info {
      border-radius: 0 2.5rem 2.5rem 2.5rem;
      -webkit-border-radius: 0 2.5rem 2.5rem 2.5rem;
      -moz-border-radius: 0 2.5rem 2.5rem 2.5rem;
      -ms-border-radius: 0 2.5rem 2.5rem 2.5rem;
      -o-border-radius: 0 2.5rem 2.5rem 2.5rem;
    }
  }
}

// Celulares vertical
@media only screen and (max-width: 700px) {
  .nosotrosContainer {
    .inicio {
      margin-bottom: 20%;
      // padding: 0 9% 60% 9%;
      border-radius: 0 0 1.5rem 1.5rem;
      -webkit-border-radius: 0 0 1.5rem 1.5rem;
      -moz-border-radius: 0 0 1.5rem 1.5rem;
      -ms-border-radius: 0 0 1.5rem 1.5rem;
      -o-border-radius: 0 0 1.5rem 1.5rem;
      //padding-bottom: 15%;
      .titulo-inicio {
        font-size: 15vw;
        padding: 0;
      }
      .descr-inicio {
        margin: 8% 0 0 0;
        // padding: 0 6%;
        width: 100%;
        font-size: $descrSizeResp;
        // font-size: 130%;
        font-weight: $light;
        span {
          display: none;
        }
      }
      .button-inicio {
        font-size: 4vw;
        padding: 2% 6%;
        margin: 0;
      }
      .GPcontainer {
        position: absolute;
        margin-top: 5%;
        margin-right: 1.6%;

        .GP {
          display: none;
        }
        .GP2 {
          // margin-left: 3%;
          display: inline-block;
          width: 95vw;
        }
      }
    }

    .beneficios {
      padding: 0 4% 35% 4%;

      .box1 {
        padding: 10% 0 70% 10%;
        border-radius: 0 1.5rem 0 1.5rem;
        -webkit-border-radius: 0 1.5rem 0 1.5rem;
        -moz-border-radius: 0 1.5rem 0 1.5rem;
        -ms-border-radius: 0 1.5rem 0 1.5rem;
        -o-border-radius: 0 1.5rem 0 1.5rem;
        .titulo-beneficios {
          margin-top: 15%;
          font-size: 9vw;
          width: 100%;
        }
        .button-beneficios {
          font-size: 4vw;
          padding: 2% 6%;
          span {
            display: none;
          }
        }
      }
      .box2 {
        position: static;
        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        -webkit-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        -moz-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        -ms-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        -o-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        margin-top: -50%;
        width: 100%;
        padding: 10%;
        .subtitulo-beneficios {
          font-size: 140%;
          line-height: 120%;
        }
        .descr-beneficios {
          font-size: $descrSizeResp;
          font-weight: $light;
          span {
            display: none;
          }
        }
      }
      .box3 {
        border-radius: 0 1.5rem 0 0;
        -webkit-border-radius: 0 1.5rem 0 0;
        -moz-border-radius: 0 1.5rem 0 0;
        -ms-border-radius: 0 1.5rem 0 0;
        -o-border-radius: 0 1.5rem 0 0;
        margin-top: 21%;
        width: 50%;
      }
      .circulos3D {
        position: absolute;
        left: 25%;
        margin-top: 10%;
        img {
          width: 40vw;
        }
      }
    }

    .info {
      border-radius: 0 1.5rem 1.5rem 1.5rem;
      -webkit-border-radius: 0 1.5rem 1.5rem 1.5rem;
      -moz-border-radius: 0 1.5rem 1.5rem 1.5rem;
      -ms-border-radius: 0 1.5rem 1.5rem 1.5rem;
      -o-border-radius: 0 1.5rem 1.5rem 1.5rem;
      // padding-right: 8%;
      .flex-info {
        display: inline-block;
        border: none;

        .titulo-info {
          font-size: 9vw;
          width: 100%;
          span {
            font-size: 6vw;
          }
        }
        .descr-info {
          margin-top: 10%;
          padding: 0;
          width: 100%;
          font-size: $descrSizeResp;
          span {
            display: none;
          }
        }
      }
      .items-info {
        display: inline-block;
        padding-bottom: 10%;

        .item-info {
          margin: 0;
          padding: 0;
        }
        .item-info:not(:last-child) {
          margin: 0;
          padding: 0;
          border-bottom: 1px solid rgb(170, 170, 170);
        }
        .item-info:not(:first-child) {
          margin: 0;
          padding: 0;
          padding-top: 6%;
        }
        .titulo-item {
          margin: 0;
          margin-bottom: 3%;
          padding: 0;
          font-size: 6vw;
        }
        .descr-item {
          margin: 0;
          padding: 0;
          font-size: $descrSizeResp;
          padding-bottom: 6%;
        }
      }
    }
  }
}
