.navContainer {
  width: 100%;
  background-color: rgb(13, 13, 13);

  position: fixed;
  z-index: 9999;
  padding: 1% 0;

  .navbar {
    --bs-navbar-padding-y: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .navbar-brand {
      width: 9%;
      .logo {
        width: 100%;
        margin-left: 20%;
      }
    }
    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0.5%;
      margin-right: 5vw;
      .nav-link {
        color: white;

        font-size: 1.1vw;
        margin-right: 1.5vw;
        transition: all 0.3s;
        padding-bottom: 0;
        &:hover,
        &.active {
          color: rgb(44, 131, 189);
          padding: 0.5rem;
          border-bottom: 1px solid rgb(44, 131, 189);
          transition: all 0.5s;
        }
      }
    }
  }
}

.header.abajo {
  backdrop-filter: blur(15px);
  background: rgba(4, 4, 4, 0.3);
  box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
}

///// Responsive /////

// Celulares horizontal y tablets
@media only screen and (min-width: 700px) and (max-width: 991px) {
  .navContainer {
    padding: 0.5% 0;
    .navbar {
      .containNav {
        display: flex;
        justify-content: flex-end;
        .navbar-brand {
          width: 18%;
          .logo {
            width: auto;
            height: 2rem;
          }
        }
        .navbar-toggler {
          border: none;
          margin-right: 0;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
        .navbar-toggler:focus {
          box-shadow: none;
          border: none !important;
        }
        .navbar-collapse {
          .navbar-nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .nav-link {
              margin: 2%;
              font-size: 2vw;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .header.abajo {
    background-color: rgb(13, 13, 13);

    box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
  }
}

// Celulares vertical
@media only screen and (max-width: 700px) {
  .navContainer {
    .navbar {
      .containNav {
        display: flex;
        justify-content: flex-end;
        .navbar-brand {
          width: 40%;
          .logo {
            margin-left: 5%;
          }
        }
        .navbar-toggler {
          // position: absolute;
          // top: 0;
          // right: 0;

          border: none;
          margin-right: 0;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
        .navbar-toggler:focus {
          box-shadow: none;
        }
        .navbar-collapse {
          .navbar-nav {
            @include centerCol;

            .nav-link {
              margin: 1%;
              font-size: 4vw;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .header.abajo {
    background-color: rgb(13, 13, 13);

    box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
  }
}
